<ion-view view-title="Dashboard" hide-nav-bar="true">
  <ion-content class="padding">

    <div class="logo-hero">
    </div>

    <div class ="center" style="text-align:center">
      <div class="button-ios-rounded" style="background-color: #2ecc9b">
        <i class="ion-heart"></i>
      </div>
      <div class="button-ios-rounded" style="background-color: #2ecc9b">
        <i class="ion-ionic"></i>
      </div>
      <div class="button-ios-rounded" style="background-color: #2ecc9b">
        <i class="ion-ionic"></i>
      </div>
      <div class="button-ios-rounded" style="background-color: #2ecc9b">
        <i class="ion-ionic"></i>
      </div>
    </div>
  </ion-content>
  <div class="padding" style="bottom: 0;width:100%;position:absolute;">
    <button class="button button-block button-positive rounded">
      Block Button
    </button>
  </div>
</ion-view>
