<ion-view view-title="Dashboard" hide-nav-bar="true" ng-controller="StartCtrl">
<ion-header-bar class="bar-positive">
  <button class="button" ng-click="back()"> Back</button>
  <h1 class="title">Pocket Trainer</h1>
  <button class="button ion-gear-a button-icon"></button>

</ion-header-bar>

<ion-content class="padding">
  <ion-item class="item-thumbnail-left">
      <img src="../img/dumbbell26.svg">
      <h2>Bench Press (Name)</h2>
      <p>Chest (Primary Muscle Group)</p>
      </ion-item>



  <div class="card">
    <div class="item item-text-wrap">
      1. Lie on your back with your feet flat on the floor. If your feet don’t reach the floor, use a stable board to accommodate size. Grasp the barbell with a wider than shoulder-width grip, wrapping thumbs around the bar. Hold the barbell at arm’s length above your upper-chest area.
      <p></p>2. Slowly lower the barbell to the middle of your chest. In the bottom position the forearms should be perpendicular to the floor. Pause briefly, then press the barbell to the starting position. During the movement, the upper arms should be about 45 to 60 degrees from the torso and the hips should remain on the bench.
    </div>
  </div>





  </ion-content>

</ion-view>
