<ion-view view-title="Dashboard" hide-nav-bar="true" ng-controller="DashCtrl">
<ion-header-bar class="bar-positive">
  <h1 class="title">Pocket Trainer</h1>
  <button class="button ion-gear-a button-icon"></button>
</ion-header-bar>

<ion-content class="padding" scroll="false">
	
    <!-- <img src='../img/dumbbell26.svg'class="logo-hero">
    </img> -->
	
	
	<div class="logo-hero">
	</div>
	
    <div class ="center">
	
      <div class="button button-assertive home-button">
        <i class="ion-ios-book button-icon"></i>
		Workout Log
      </div>
      <div class="button button-positive home-button">
        <i class="ion-arrow-graph-up-right button-icon"></i>
		Progress
      </div>
      <div class="button button-positive home-button">
        <i class="ion-ios-gear button-icon"></i>
		Exercises
      </div>
      <div class="button button-positive home-button">
        <i class="ion-ios-list-outline button-icon"></i>
		Workout Plans
      </div>   
	  
    </div>
	
	 <div class="bottom-bar">
    <button class="button button-full button-positive">
      Start Workout
    </button>
  </div>
  </ion-content>
</ion-view>

