/* Empty. Add your own CSS if you like */
.button-ios-rounded {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;

  line-height: 150px;
  text-align: center;
  margin: 4px;
}

.rounded {
  border-radius: 0px;
}

.bottom-bar {
  position:absolute;
  bottom: 0;
}

.logo-hero {
  height: 150px;
  min-height: 150px;
}
