/* Contents
1. HOME
2. START WORKOUT
3.
 */

 
/* 1. HOME */

.background { 
background: url('../img/image.png') no-repeat; 
background-size: cover; 
background-position: center; 
margin: auto; 
z-index: 2;  
}

.home-button {
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  padding-top: 27px;
  
  text-align: center;
  margin: 4px;
  background-color: #2ecc9b;
}

.button-icon {
  font-size: 400%;
  display:block;
}

.rounded {
  border-radius: 0px;
}

.bottom-bar {
display:block;
 position:absolute;
 left:0;
 width:100%;
  bottom: 0;
}

.logo-hero {
  height: 150px;
  min-height: 150px;
}

.center {
	text-align:center;
}

/* 2. START WORKOUR */

